In [10]:
books = pd.read_csv('Books.csv')
users = pd.read_csv('Users.csv')
ratings = pd.read_csv('Ratings.csv')

C:\Users\dewan\AppData\Local\Temp\ipykernel_12032\1748781244.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [9]:
import numpy as np
import pandas as pd

    User-ID        ISBN  Book-Rating
0    276725  034545104X            0
1    276726  0155061224            5
2    276727  0446520802            0
3    276729  052165615X            3
4    276729  0521795028            6
5    276733  2080674722            0
6    276736  3257224281            8
7    276737  0600570967            6
8    276744  038550120X            7
9    276745   342310538           10
10   276746  0425115801            0
11   276746  0449006522            0
12   276746  0553561618            0
13   276746  055356451X            0
14   276746  0786013990            0
15   276746  0786014512            0
16   276747  0060517794            9
17   276747  0451192001            0
18   276747  0609801279            0
19   276747  0671537458            9
20   276747  0679776818            8
21   276747  0943066433            7
22   276747  1570231028            0
23   276747  1885408226            7
24   276748  0747558167            6
25   276748  3442437407            0
26   276751  033390804X            0
27   276751  3596218098            8
28   276754  0684867621            8
29   276755  0451166892            5
30   276760  8440682697           10
31   276762  034544003X            0
32   276762  0380000059            0
33   276762  0380711524            5
34   276762  0451167317            0
35   276762  0451454952            0
36   276762  0843920262            0
37   276762  3404122879            0
38   276762  3404182928            0
39   276762  3404611306            0
40   276762   342662429            0
41   276762  3426690179            0
42   276762  3442424216            0
43   276762  3442425573            0
44   276762  3453092007            8
45   276762  3453157745            0
46   276762  3453176944            0
47   276762  3453185137            0
48   276762  3453185323            0
49   276762  3453213025            3